<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921607312077-stvu569k9fh4abmoj7f523mejqr62spq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921607312077-stvu569k9fh4abmoj7f523mejqr62spq</string>
	<key>API_KEY</key>
	<string>AIzaSyDummyKeyForTestingPurposesOnly-Replace</string>
	<key>GCM_SENDER_ID</key>
	<string>123456789012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alonetApp</string>
	<key>PROJECT_ID</key>
	<string>alonet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alonet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123456789012:ios:fedcba0987654321</string>
	<key>DATABASE_URL</key>
	<string>https://alonet-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>